{% extends "adminbase.html" %}
{% block title %}管理 仓库模块 | 站点管理员{% endblock %}
{% block css %} <link rel="stylesheet" type="text/css" href="/static/css/adminindex.css">{% endblock %}
{% block content %}
<div id="homediv">
	<div class="row">
	<ol class="breadcrumb">
	  <li><a href="/admin/adminindex/">首页</a></li>
	  <li class="active">仓库模块</li>
	</ol>
		<div class="col-md-12"><h4>管理站点</h4></div>
	</div>
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">仓库模块</h3>
	  </div>
	  <div class="panel-body">
	    <a href="/admin/nupt/collections/">南京邮电大学</a>
	  </div>
	</div>

	

</div>
{% endblock %}